<!-- 订单记录，没写呢，要自己改下 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>我的订单记录</title>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <script src="js/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>
    <script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
    <script src="/webjars/axios/0.21.1/dist/axios.min.js"></script>
    <script src="js/shop.js"></script>
</head>
<body class="index">
<div class="top_ad">
    <div class="w1200"><a href="#" id="close"></a></div>
</div>

<div id="login-body">
    <login-body></login-body>
</div>
<script>
    let loginVue = new Vue({
        el: "#login-body"
    });
</script>

<div class="head" id="head-body">
    <shop-cart></shop-cart>
</div>
<script>
    let headVue = new Vue({
        el: "#head-body"
    });
</script>

<div class="w1200">
    <div class="position"><a href="index.html">首页</a> > <a href="buyRecord.html">我的订单</a></div>
    <!--<div style="border: solid;border-width:1px;border-color: gray;margin-top: 20px;padding-left: 10px;padding-right: 10px;">

        <div style="padding-top: 0px" class="shopcar" v-for="(item1,index) in order">
            <dl>
                <dt><span>我的订单</span></dt>
                <dd>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr class="tr_t">
                            <td width="15%">商品图片</td>
                            <td width="15%">商品名</td>
                            <td width="10%">单价</td>
                            <td width="6%">数量</td>
                            <td width="10%">小计</td>
                            <td width="10%">发货日期</td>
                            <td width="10%">预计收货日期</td>
                            <td width="6%">签收状态</td>
                            <td width="11%">操作</td>
                        </tr>
                        <tr class="tr_c" v-for="(item,index) in orderitem" v-if="item1.ono==item.ono">
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="15%"><img :src="item.showPic"/></td>
                                        <td width="20%"><a :href="'product_show.html#'+item.sizeno" class="title">{{item.size}}</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="price">￥{{item.onePrice}}</td>
                            <td><b>{{item.num}}</b></td>
                            <td class="price">￥{{item.money}}</td>
                            <td><b>{{item.sdate}}</b></td>
                            <td><b>{{item.rdate}}</b></td>
                            <td class="price" v-if="item.status==2">未签收</td>
                            <td class="price" style="color: green;" v-if="item.status==1">签收</td>
                            <td v-if="item1.status==1"><a :href="'comment.html#'+item.sizeno"><b>评论</b></a></td>
                            <td v-if="item1.status!=1"><a href="javascript:void(0)"><b>无</b></a></td>
                        </tr>
                        <tr class="tr_d">
                            <td colspan="9">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="15%">提交订单时间：{{item1.odate}}</td>
                                        <td width="10%">电话: <b>{{item1.tel}}</b></td>
                                        <td width="20%">地址: <b>{{item1.detailAddr}}</b></td>
                                        <td width="10%">支付方式: <b>{{item1.buyWay}}</b></td>
                                        <td width="10%">收件人: <b>{{item1.receiver}}</b></td>
                                        <td width="10%" v-if="item1.status==3">订单状态: <b style="color: red;">订单失效</b>
                                        </td>
                                        <td width="10%" v-if="item1.status==2">订单状态: <b style="color: red;">未支付</b>
                                        </td>
                                        <td width="10%" v-if="item1.status==1">订单状态: <b style="color: green;">支付</b>
                                        </td>
                                        <td width="20%" class="all_price">合计：<font>￥{{item1.total}}</font>&nbsp;&nbsp;&nbsp;<a
                                                href="javascript:void(0)" @click="del(index)"
                                                v-if="item1.status==2&&(item1.buyWay=='在线支付'||item1.buyWay==null)"><b
                                                style="color: red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消订单</b></a><span
                                                v-if="item1.status!=1&&item1.buyWay=='现金'">请联系商家进行取消订单</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="clear"></div>

                </dd>
            </dl>
            <table style="margin-top: 40px;" width="100%" border="0" cellspacing="0" cellpadding="0" class="go_tb">
                <tr>
                    <td width="20%"><a href="product.html" class="go_buy">继续购物</a></td>
                    <td width="63%">&nbsp;</td>
                    <td width="17%" align="right"
                        v-if="item1.status==2&&(item1.buyWay=='在线支付'||item1.buyWay==null)"><a
                            href="javascript:void(0)" class="code" @click="buy(item1.ono,item1.total)">结 算</a></td>
                    <td width="17%" align="right" v-if="item1.buyWay=='现金'&&item1.status!=1"><a
                            href="javascript:void(0)" class="code">无法支付</a></td>
                    <td width="17%" align="right" v-if="item1.status==1"><a href="javascript:void(0)"
                                                                            class="code">已支付</a>
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
    </div>-->
</div>
<!--footer-->
<div id="footer-body">
    <footer-body></footer-body>
</div>
<script>
    let footerVue = new Vue({
        el: "#footer-body"
    });
</script>
<!--float_right-->
<div class="float">
    <ul>
        <li><a href="#" class="a01"></a></li>
        <li><a href="#" class="a02"></a></li>
        <li><a href="#" class="a03"></a></li>
        <li><a href="#" class="a04"></a></li>
    </ul>
</div>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>
<script type="text/javascript" src="js/qs.js"></script>
<script type="text/javascript">
    let yc_login = new Vue({
        el: "#yc_login",//对应div的id,即这个vue的作用域
        data: {
            onlogin: false,
            outlogin: true,
            user: {},
            carts: [],
            goodsCount: 0,
            order: {},
            orderitem: {}
        },
        mounted: function () {//数据挂载之前，相当于jquery中的$(function(){}),页面加载完成
            axios({
                url: 'member.action?op=check',
                method: 'get'
            }).then(result => {
                if (result.data.member) {//说明登录了
                    this.onlogin = true;
                    this.outlogin = false;
                    this.user = result.data.member;
                    if (result.data.carts) {
                        this.carts = result.data.carts;
                        this.goodsCount = result.data.carts.length;
                    }
                } else {
                    this.onlogin = false;
                    this.outlogin = true;
                    alert('请先登录。。。');
                    location.href = 'login.html';
                }
            });
            axios({
                url: 'order.action?op=findByMno',
                method: 'get'
            }).then(result => {
                if (result.data.orders) {//说明登录了
                    this.order = result.data.orders;
                    if (result.data.orderitems) {
                        this.orderitem = result.data.orderitems;
                    }
                } else {
                    alert('您暂无任何订单。。。');
                }
            });
        },
        methods: {
            out: function () {
                axios({url: 'member.action?op=out', method: 'get'})
                    .then(result => {
                        let data = result.data;
                        if (data == 1) {
                            location.href = 'login.html';
                        } else {
                            alert('退出失败！！');
                            return;
                        }
                    });
            },
            del: function (index) {
                var ono = this.order[index].ono;
                axios({url: 'order.action?op=goto', method: 'get', params: {ono: ono}})
                    .then(result => {
                        let data = result.data;
                        if (data > 0) {
                            this.order[index].status = 3;
                            alert('订单已取消');
                        } else {
                            alert('取消有误，请联系商家');
                        }
                    });
            },
            buy: function (ono, total) {
                location.href = 'payply.html#' + ono + "&" + total;
            }
        }
    });

</script>
</body>
</html>
