<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>会员中心</title>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <script src="js/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>
    <script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
    <script src="/webjars/axios/0.21.1/dist/axios.min.js"></script>
    <script src="js/shop.js"></script>

</head>
<body class="index">

<div class="top_ad">
    <div class="w1200"><a href="#" id="close"></a></div>
</div>

<div id="login-body">
    <login-body></login-body>
</div>
<script>
    let loginVue = new Vue({
        el: "#login-body"
    });
</script>

<div class="head" id="headVue">
    <div class="w1200">
        <div class="logo">
            <a href="index.html"></a>
        </div>
        <div class="s_r">
            <dl>
                <dt>
                    <a href="shopcar.html">购物车</a>
                </dt>
                <dd>
                    客服电话：<b>400-0139-038</b>
                </dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="w1200">
    <div class="position">
        <a href="index.html">首页</a> > <a href="member">会员中心</a> > <a
            href="member">个人资料</a>
    </div>

    <div class="m_d">
        <div class="left">
            <dl>
                <dt>账户管理</dt>
                <dd>
                    <a href="javascript:void(0)" class="on">个人资料</a>
                    <a href="pwd.html">修改密码</a>
                    <a href="buyRecord.html">我的订单</a>
                </dd>
            </dl>
        </div>
        <div class="right" id="yc_right">
            <dl class="dl01">
                <dt>
                    <img src="images/ico04.jpg"/>
                </dt>
                <dd>
                    <table width="725" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="416" class="td01">尊敬的，<font>{{user.nickName}}</font>
                                您好！
                            </td>
                            <td width="44">余额：</td>
                            <td width="122">
                                <span>{{user.restMoney!=null&&user.restMoney!= undefined?user.restMoney:0}}元</span>
                            </td>
                            <td width="56" align="right">积分：</td>
                            <td width="87"><span>{{user.moneyPoint!=null&&user.moneyPoint!= undefined?user.moneyPoint:0}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>还没有上传头像？ 点击上传头像吧<br/><input id="pics" type="file"
                                                            name="photo" style="width: 70px" @change="goHead()"/>
                                <a class="save" href="javascript:void(0)" @click="update()"><b>保存</b></a></td>
                        </tr>
                    </table>
                    <img :src="user.photo" height="117px" width="118px"/>
                </dd>
            </dl>
            <dl class="dl02">
                <dt>
                    <span>个人资料</span>
                </dt>
                <dd>
                    <div class="item">
                        <span><font>*</font>用户真实姓名：</span><input type="text" class="txt" v-model="user.realName"/>
                    </div>
                    <div class="item">
                        <span><font>*</font>手机号码：</span><input type="text" class="txt" v-model="user.tel"/>
                    </div>
                    <div class="item">
                        <span><font>*</font>性别：</span><input type="radio" value="1" name="sex" v-model="user.sex"/>
                        男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" value="2" name="sex" v-model="user.sex"/> 女
                    </div>
                    <div class="item">
                        <span><font>*</font>电子邮箱：</span><input type="text" class="txt" v-model="user.email"/>
                        <em>请输入邮箱地址，邮箱将用于找回密码。</em>
                    </div>
                    <div class="item">
                        <span><font>*</font>联系地址：</span>
                        <select v-model="i">
                            <option v-for='(prov,index) of provs' :key='index' :value='index'
                                    v-text='prov'></option>
                        </select>
                        <select v-model="j">
                            <option v-for='(city,index) of cities[i]' :key='index' :value='index'
                                    v-text='city'></option>
                        </select>
                        <input type="text" class="txt" v-model="detail"/>
                    </div>
                    <div class="item">
                        <input type="button" class="buto" value="保存" @click="fun()"/>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--footer-->
<div id="footer-body">
    <footer-body></footer-body>
</div>
<script>
    let footerVue = new Vue({
        el: "#footer-body"
    });
</script>
<!--float_right-->
<div class="float">
    <ul>
        <li><a href="#" class="a01"></a></li>
        <li><a href="#" class="a02"></a></li>
        <li><a href="#" class="a03"></a></li>
        <li><a href="#" class="a04"></a></li>
    </ul>
</div>
<script type="text/javascript" src="js/ajaxfileupload.js"></script>
<script type="text/javascript">
    let yc_right = new Vue({
        el: "#yc_right",//对应div的id,即这个vue的作用域
        data: {
            user: {},
            detail: '',
            i: 0,
            j: 0,
            provs: ['北京', '河北', '山东'],
            cities: [
                ['东城', '西城', '海淀', '朝阳'],
                ['石家庄', '保定', '唐山', '廊坊'],
                ['济南', '青岛', '烟台', '德州']
            ]
        },
        created: function () {
            this.check();
        },
        methods: {
            check: function () {//数据挂载之前，相当于jquery中的$(function(){}),页面加载完成
                axios.get("shop-memberinfo/getLoginUser").then(res => {
                    if (res.data.code == 1) {
                        this.user = res.data.data;
                        let strs = new Array();
                        if (res.data.data.addr) {
                            strs = res.data.data.addr.split("-");
                        }
                        this.detail = strs[2];
                        for (let k = 0; k < this.provs.length; k++) {
                            if (this.provs[k] == strs[0]) {
                                this.i = k;
                                for (let k1 = 0; k1 < this.cities[k].length; k1++) {
                                    if (this.cities[k][k1] == strs[1]) {
                                        this.j = k1;
                                        break;
                                    }
                                }
                                break;
                            }
                        }
                    } else {
                        alert('请先登录。。。');
                        location.href = 'login.html';
                    }
                });
            },
            fun: function () {
                let add = this.provs[this.i] + "-" + this.cities[this.i][this.j] + "-" + this.detail;
                let params = new URLSearchParams();
                params.append("mno", this.user.mno);
                params.append("realName", this.user.realName);
                params.append("tel", this.user.tel);
                params.append("sex", this.user.sex);
                params.append("email", this.user.email);
                params.append("addr", add);

                axios.post('shop-memberinfo/updateAll', params).then(result => {
                    if (result.data.code == 1) {
                        alert(result.data.msg);
                        this.check();
                    } else {
                        alert(result.data.msg);
                        return;
                    }
                });
            },
            goHead: function () {
                $.ajaxFileUpload({
                    url: 'shop-file/memberUpload',
                    secureuri: false,
                    fileElementId: 'pics',
                    success: function (res) {
                        if (res.code == 1) {
                            alert(res.msg);
                            yc_right.$data.user.photo=res.data;
                        }
                    }
                });
            },
            update: function () {
                let params = new URLSearchParams();
                params.append("mno", this.user.mno);
                params.append("photo", this.user.photo);
                axios.post("shop-memberinfo/updatePhoto",params).then(res=>{
                    if (res.data.code == 1) {
                        alert(res.data.msg);
                    }
                });
            }
        }
    });
</script>
</body>
</html>
