<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Happer 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 命名空间==》接口完全限定名==》和接口进行绑定-->
<mapper namespace="com.yc.shoporder.dao.ShopOrderItemInfoMapper">
<!--    <cache type="org.mybatis.caches.redis.RedisCache"/>-->
    <!--新增订单详情表-->
    <insert id="addOrderItemInfo" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="itemno">
        insert into orderiteminfo values
        <foreach collection="list" index="index" item="orderItemInfo" separator=",">
            (null,#{orderItemInfo.memberInfo.mno},#{orderItemInfo.orderInfo.ono},#{orderItemInfo.goodDetail.sizeno},#{orderItemInfo.money},
            #{orderItemInfo.num},#{orderItemInfo.descr},2,
            DATE_ADD(CURDATE(),INTERVAL 1 DAY),DATE_ADD(CURDATE(),INTERVAL 3 DAY),1)
        </foreach>
    </insert>
    <!--更新订单-->
    <update id="update" parameterType="OrderItemInfo">
        update orderiteminfo
        <set>
            <if test="descr!=null">
                descr=#{descr},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="sdate!=null">
                sdate=#{sdate},
            </if>
            <if test="rdate!=null">
                rdate=#{rdate},
            </if>
            <if test="updateStatus!=null">
                updateStatus=#{updateStatus}
            </if>
        </set>
        <where>
            itemno=#{itemno}
        </where>
    </update>
    <!--删除OrderItemInfo-->
    <update id="delete" parameterType="java.util.List">
        update orderiteminfo set status=3 where itemno in
        <foreach collection="list" index="index" item="orderiteminfo" open="(" close=")" separator=",">
            #{orderiteminfo.itemno}
        </foreach>
    </update>
    <!--分页查询链表查询-->
    <select id="findByMulti" resultMap="OrderItemInfoAndOrderInfo">
        select o.ono ono,receiver,buyWay,detailAddr,tel,addr,
        pCode,odate,itemno,mno,sizeno,money,num,descr,v.status vstatus,o.status ostatus,
        sdate,rdate,updateStatus from orderiteminfo v
        left join orderinfo o on o.ono=v.ono
        <where>
            <if test="orderInfo!=null">
                <if test="orderInfo.receiver!=null">
                    receiver = #{orderInfo.receiver}
                </if>
                <if test="orderInfo.ono!=null">
                    and o.ono = #{orderInfo.ono}
                </if>
                <if test="orderInfo.tel!=null">
                    and tel = #{orderInfo.tel}
                </if>
                <if test="orderInfo.status!=null">
                    and o.status = #{orderInfo.status}
                </if>
                <if test="orderInfo.buyWay!=null">
                    and buyWay = #{orderInfo.buyWay}
                </if>
            </if>
            <if test="goodDetail!=null">
                <if test="goodDetail.sizeno!=null">
                    and sizeno = #{goodDetail.sizeno}
                </if>
            </if>
            <if test="memberInfo!=null">
                <if test="memberInfo.mno!=null">
                    and mno = #{memberInfo.mno}
                </if>
            </if>
            <if test="itemno">
                and itemno = #{itemno}
            </if>
            <if test="status!=null">
                and v.status = #{status}
            </if>
            <if test="updateStatus">
                and updateStatus = #{updateStatus}
            </if>
        </where>
        ORDER BY itemno DESC
    </select>
    <resultMap id="OrderItemInfoAndOrderInfo" type="OrderItemInfo">
        <id property="itemno" column="itemno"/>
        <result property="money" column="money"/>
        <result property="num" column="num"/>
        <result property="descr" column="descr"/>
        <result property="status" column="vstatus"/>
        <result property="sdate" column="sdate"/>
        <result property="rdate" column="rdate"/>
        <result property="updateStatus" column="updateStatus"/>
        <association property="memberInfo" fetchType="lazy" javaType="MemberInfo">
            <id column="mno" property="mno"/>
        </association>
        <association property="orderInfo" fetchType="lazy" javaType="OrderInfo">
            <id column="ono" property="ono"/>
            <result property="receiver" column="receiver"/>
            <result property="buyWay" column="buyWay"/>
            <result property="detailAddr" column="detailAddr"/>
            <result property="tel" column="tel"/>
            <result property="addr" column="addr"/>
            <result property="pCode" column="pCode"/>
            <result property="odate" column="odate"/>
            <result property="status" column="ostatus"/>
        </association>
        <association property="goodDetail" fetchType="lazy" javaType="GoodDetail">
            <id column="sizeno" property="sizeno"/>
        </association>
    </resultMap>

    <!--通过ono查找mno-->
    <select id="findMnoByOno" resultType="Integer" parameterType="String">
        select DISTINCT(mno) from orderiteminfo where ono=#{ono}
    </select>
</mapper>