<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Happer 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 命名空间==》接口完全限定名==》和接口进行绑定-->
<mapper namespace="com.yc.shopgood.dao.IShopGoodInfoMapper">
    <!--添加商品详情-->
    <cache/>
    <insert id="addGoodInfo" parameterType="GoodInfo" useGeneratedKeys="true" keyProperty="gno">
        insert into goodinfo values(null,#{gname},#{goodType.tno},0,#{point},#{pics})
    </insert>

    <update id="update" parameterType="GoodInfo">
        update goodinfo
        <set>
            <if test="gno!=null">
                gno=#{gno},
            </if>
            <if test="sellNum!=null">
                sellNum=#{sellNum},
            </if>
            <if test="point!=null">
                point=#{point},
            </if>
            <if test="pics!=null">
                pics=#{pics},
            </if>
        </set>
        <where>
            gno=#{gno}
        </where>
    </update>
    <!--增添销售量-->
    <update id="updateSellNum">
        update goodinfo set sellNum=sellNum${signal.symbols}#{goodInfo.sellNum} where gno=#{goodInfo.gno}
    </update>
</mapper>