<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Happer 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 命名空间==》接口完全限定名==》和接口进行绑定-->
<mapper namespace="com.yc.shopgood.dao.IShopGoodTypeMapper">
<!--添加商品详情-->
    <cache/>
<insert id="addGoodType" parameterType="GoodType" useGeneratedKeys="true" keyProperty="tno" >
    insert into goodtype values(null,#{tname},#{pic},1)
</insert>
</mapper>