<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Happer 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 命名空间==》接口完全限定名==》和接口进行绑定-->
<mapper namespace="com.yc.shopgoodr.dao.IShopGoodrInfoMapper">
    <!--添加商品详情-->
    <cache/>

    <select id="findByTrem" resultMap="findByTremResult">
        select gno,gname,sellNum,tno,point,pics from goodinfo
        <where>
            <if test="tnos!=null">
                tno in
                <foreach collection="tnos" item="tno" open="(" close=")" separator=",">
                    #{tno}
                </foreach>
            </if>
            <if test="goodInfo.gno!=null">
                and gno=#{goodInfo.gno}
            </if>
            <if test="goodInfo.gname!=null">
                and gname=#{goodInfo.gname}
            </if>
            <if test="goodInfo.sellNum!=null">
                and sellNum &gt; #{goodInfo.sellNum}
            </if>
            <if test="goodInfo.point!=null">
                and point &gt; #{goodInfo.point}
            </if>
            <if test="signal!=null">
                <if test="signal.sort!=null&amp;&amp;signal.symbols!=null">
                    order by ${signal.sort} ${signal.symbols}
                </if>
            </if>
        </where>
    </select>
    <resultMap id="findByTremResult" type="GoodInfo">
        <id property="gno" column="gno"/>
        <result property="gname" column="gname"/>
        <result property="sellNum" column="sellNum"/>
        <result property="point" column="point"/>
        <result property="pics" column="pics"/>
        <association property="goodType" fetchType="eager" javaType="GoodType">
            <id column="tno" property="tno"/>
        </association>
        <collection property="goodDetailList" javaType="ArrayList" ofType="GoodDetail" column="gno"
                    select="getGoodDetail"
                    fetchType="eager"/>
        <collection property="commentsList" javaType="ArrayList" ofType="Comments" column="gno"
                    select="getComments"
                    fetchType="eager"/>
    </resultMap>
    <select id="getComments" resultType="Comments">
        select * from comments
        <where>
            gno=#{gno}
        </where>
    </select>
    <select id="getGoodDetail" resultType="GoodDetail">
        select * from gooddetail
        <where>
            gno=#{gno}
        </where>
    </select>
    <!--查询前六条-->
    <select id="findShowSix" resultMap="findSix">
        select aa.*,gname,tno from (select * from gooddetail) aa,(select gno,tno,gname from goodinfo gf1 where 6>
        (select count(gno) from goodinfo gf2 where gf1.tno=gf2.tno and gf1.gno>gf2.gno)
        order by gf1.tno asc, gf1.gno desc) bb,(select MIN(sizeno) min from gooddetail GROUP BY gno) cc
        where aa.gno=bb.gno and cc.min=aa.sizeno
    </select>
    <resultMap id="findSix" type="GoodDetail">
        <result property="sizeno" column="sizeno"/>
        <result property="size" column="size"/>
        <result property="balance" column="balance"/>
        <result property="intro" column="intro"/>
        <result property="showPic" column="showPic"/>
        <result property="price" column="price"/>
        <association property="goodInfo" fetchType="eager" javaType="GoodInfo">
            <id column="gno" property="gno"/>
            <result property="gname" column="gname"/>
            <association property="goodType" fetchType="eager" javaType="GoodType">
                <id column="tno" property="tno"/>
                <result property="tno" column="tno"/>
            </association>
        </association>
    </resultMap>

</mapper>